<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tca.com.canopy.template.action.vmActionReconfigure</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tca.com.canopy.template.action.vmActionServerRebot</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tca.com.canopy.template.action.vmActionCreateAdditionalBackup</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tca.com.canopy.template.action.vmActionMaintenanceWindow</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tca.com.canopy.template.action.vmActionRestoreBackup</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tca.com.canopy.template.action.vmActionPasswordReset</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC_002</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
