<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Verify</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4b364">  <td>16/06/07 10:51:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VdcItemVerify.VdcVerify(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcc.com.canopy.verifyVDC.VdcItemVerify@72c3da75]">VdcVerify</td> 
  <td>main@972548452</td>   <td></td> </tr>
<tr bgcolor="a6e371">  <td>16/06/07 10:51:28</td>   <td>-424</td> <td title="&gt;&gt;VerifyBaseClass.checkSuiteSkip()[pri:0, instance:tcc.com.canopy.verifyVDC.VdcItemVerify@72c3da75]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@972548452</td>   <td></td> </tr>
<tr bgcolor="a4b364">  <td>16/06/07 10:53:02</td>   <td>92903</td> <td>&nbsp;</td><td title="&lt;&lt;VdcItemVerify.generateBackupReport()[pri:0, instance:tcc.com.canopy.verifyVDC.VdcItemVerify@72c3da75]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@972548452</td>   <td></td> </tr>
<tr bgcolor="a6e371">  <td>16/06/07 10:53:02</td>   <td>92945</td> <td title="&lt;&lt;VerifyBaseClass.generateBackupReports()[pri:0, instance:tcc.com.canopy.verifyVDC.VdcItemVerify@72c3da75]">&lt;&lt;generateBackupReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@972548452</td>   <td></td> </tr>
<tr bgcolor="a4b364">  <td>16/06/07 10:53:02</td>   <td>92693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VdcItemVerify.generateExcelReport()[pri:0, instance:tcc.com.canopy.verifyVDC.VdcItemVerify@72c3da75]">&lt;&lt;generateExcelReport</td> 
<td>&nbsp;</td>  <td>main@972548452</td>   <td></td> </tr>
<tr bgcolor="a4b364">  <td>16/06/07 10:51:29</td>   <td>-129</td> <td>&nbsp;</td><td title="&gt;&gt;VdcItemVerify.isTestExecutable()[pri:0, instance:tcc.com.canopy.verifyVDC.VdcItemVerify@72c3da75]">&gt;&gt;isTestExecutable</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@972548452</td>   <td></td> </tr>
</table>
