<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cancel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8dfdd4">  <td>16/06/07 11:11:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CancelVDCAction.VdcCancel1(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcc.com.canopy.template.action.CancelVDCAction@3a55b9b]">VdcCancel1</td> 
  <td>main@856273961</td>   <td></td> </tr>
<tr bgcolor="8dfdd4">  <td>16/06/07 11:13:19</td>   <td>137443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CancelVDCAction.Vdccancel2(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcc.com.canopy.template.action.CancelVDCAction@3a55b9b]">Vdccancel2</td> 
  <td>main@856273961</td>   <td></td> </tr>
<tr bgcolor="e1a690">  <td>16/06/07 11:11:01</td>   <td>-458</td> <td title="&gt;&gt;ActionBaseClass.checkSuiteSkip()[pri:0, instance:tcc.com.canopy.template.action.CancelVDCAction@3a55b9b]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@856273961</td>   <td></td> </tr>
<tr bgcolor="e1a690">  <td>16/06/07 11:20:17</td>   <td>555527</td> <td title="&lt;&lt;ActionBaseClass.generateBackupReports()[pri:0, instance:tcc.com.canopy.template.action.CancelVDCAction@3a55b9b]">&lt;&lt;generateBackupReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@856273961</td>   <td></td> </tr>
<tr bgcolor="8dfdd4">  <td>16/06/07 11:20:17</td>   <td>555331</td> <td>&nbsp;</td><td title="&lt;&lt;CancelVDCAction.generateExcelReport()[pri:0, instance:tcc.com.canopy.template.action.CancelVDCAction@3a55b9b]">&lt;&lt;generateExcelReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@856273961</td>   <td></td> </tr>
<tr bgcolor="8dfdd4">  <td>16/06/07 11:11:01</td>   <td>-150</td> <td>&nbsp;</td><td title="&gt;&gt;CancelVDCAction.isTestExecutable()[pri:0, instance:tcc.com.canopy.template.action.CancelVDCAction@3a55b9b]">&gt;&gt;isTestExecutable</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@856273961</td>   <td></td> </tr>
</table>
