<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7a66b">  <td>15/04/17 13:23:11</td>   <td>0</td> <td title="&gt;&gt;TestSuiteBase.checkSuiteSkip()[pri:0, instance:com.canopy.suite.dashboard.VerifyApprover_Tab@5e025e70]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114889273</td>   <td></td> </tr>
<tr bgcolor="d3a17d">  <td>15/04/17 13:23:12</td>   <td>1332</td> <td>&nbsp;</td><td title="&gt;&gt;VerifyApprover_Tab.checkTestSkip()[pri:0, instance:com.canopy.suite.dashboard.VerifyApprover_Tab@5e025e70]">&gt;&gt;checkTestSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114889273</td>   <td></td> </tr>
<tr bgcolor="d3a17d">  <td>15/04/17 13:24:10</td>   <td>58959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VerifyApprover_Tab.reportDataSetResult()[pri:0, instance:com.canopy.suite.dashboard.VerifyApprover_Tab@5e025e70]">&lt;&lt;reportDataSetResult</td> 
<td>&nbsp;</td>  <td>main@2114889273</td>   <td></td> </tr>
<tr bgcolor="d3a17d">  <td>15/04/17 13:24:10</td>   <td>58983</td> <td>&nbsp;</td><td title="&lt;&lt;VerifyApprover_Tab.reportTestResult()[pri:0, instance:com.canopy.suite.dashboard.VerifyApprover_Tab@5e025e70]">&lt;&lt;reportTestResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114889273</td>   <td></td> </tr>
<tr bgcolor="d3a17d">  <td>15/04/17 13:23:12</td>   <td>1343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyApprover_Tab.testApprover_Tab()[pri:0, instance:com.canopy.suite.dashboard.VerifyApprover_Tab@5e025e70]">testApprover_Tab</td> 
  <td>main@2114889273</td>   <td></td> </tr>
</table>
