<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac8cb7">  <td>16/06/13 12:32:08</td>   <td>0</td> <td title="&lt;&lt;vRAAvailability.generateBackupReport()[pri:0, instance:VRAAvailability.vRAAvailability@42a014ef]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@563692927</td>   <td></td> </tr>
<tr bgcolor="ac8cb7">  <td>16/06/13 12:29:56</td>   <td>-131209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vRAAvailability.generateReport()[pri:0, instance:VRAAvailability.vRAAvailability@42a014ef]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@563692927</td>   <td></td> </tr>
<tr bgcolor="ac8cb7">  <td>16/06/13 12:31:01</td>   <td>-66624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vRAAvailability.generateReport()[pri:0, instance:VRAAvailability.vRAAvailability@42a014ef]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@563692927</td>   <td></td> </tr>
<tr bgcolor="ac8cb7">  <td>16/06/13 12:31:03</td>   <td>-65077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vRAAvailability.generateReport()[pri:0, instance:VRAAvailability.vRAAvailability@42a014ef]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@563692927</td>   <td></td> </tr>
<tr bgcolor="ac8cb7">  <td>16/06/13 12:32:06</td>   <td>-1676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vRAAvailability.generateReport()[pri:0, instance:VRAAvailability.vRAAvailability@42a014ef]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@563692927</td>   <td></td> </tr>
<tr bgcolor="ac8cb7">  <td>16/06/13 12:28:53</td>   <td>-195031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vRAAvailability.testVRAAvailability(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:VRAAvailability.vRAAvailability@42a014ef]">testVRAAvailability</td> 
  <td>main@563692927</td>   <td></td> </tr>
<tr bgcolor="ac8cb7">  <td>16/06/13 12:29:58</td>   <td>-129295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vRAAvailability.testVRAAvailability(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:VRAAvailability.vRAAvailability@42a014ef]">testVRAAvailability</td> 
  <td>main@563692927</td>   <td></td> </tr>
<tr bgcolor="ac8cb7">  <td>16/06/13 12:31:03</td>   <td>-65083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vRAAvailability.testVRAAvailability(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:VRAAvailability.vRAAvailability@42a014ef]">testVRAAvailability</td> 
  <td>main@563692927</td>   <td></td> </tr>
<tr bgcolor="ac8cb7">  <td>16/06/13 12:31:03</td>   <td>-65032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vRAAvailability.testVRAAvailability(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:VRAAvailability.vRAAvailability@42a014ef]">testVRAAvailability</td> 
  <td>main@563692927</td>   <td></td> </tr>
</table>
