<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7e998">  <td>16/06/07 12:21:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VdcOrder.VdcOrder(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">VdcOrder</td> 
  <td>main@137959377</td>   <td></td> </tr>
<tr bgcolor="b7e998">  <td>16/06/07 12:28:53</td>   <td>414380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VdcOrder.VdcOrder(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">VdcOrder</td> 
  <td>main@137959377</td>   <td></td> </tr>
<tr bgcolor="b7e998">  <td>16/06/07 12:39:51</td>   <td>1072793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VdcOrder.VdcOrder(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">VdcOrder</td> 
  <td>main@137959377</td>   <td></td> </tr>
<tr bgcolor="7860e7">  <td>16/06/07 12:20:01</td>   <td>-117514</td> <td title="&gt;&gt;OrderBaseClass.checkSuiteSkip()[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@137959377</td>   <td></td> </tr>
<tr bgcolor="b7e998">  <td>16/06/07 12:41:30</td>   <td>1172122</td> <td>&nbsp;</td><td title="&lt;&lt;VdcOrder.generateBackupReport()[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@137959377</td>   <td></td> </tr>
<tr bgcolor="7860e7">  <td>16/06/07 12:41:31</td>   <td>1172233</td> <td title="&lt;&lt;OrderBaseClass.generateBackupReports()[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">&lt;&lt;generateBackupReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@137959377</td>   <td></td> </tr>
<tr bgcolor="b7e998">  <td>16/06/07 12:28:50</td>   <td>411971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VdcOrder.generateExcelReport()[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">&lt;&lt;generateExcelReport</td> 
<td>&nbsp;</td>  <td>main@137959377</td>   <td></td> </tr>
<tr bgcolor="b7e998">  <td>16/06/07 12:39:49</td>   <td>1071078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VdcOrder.generateExcelReport()[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">&lt;&lt;generateExcelReport</td> 
<td>&nbsp;</td>  <td>main@137959377</td>   <td></td> </tr>
<tr bgcolor="b7e998">  <td>16/06/07 12:41:28</td>   <td>1170155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VdcOrder.generateExcelReport()[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">&lt;&lt;generateExcelReport</td> 
<td>&nbsp;</td>  <td>main@137959377</td>   <td></td> </tr>
<tr bgcolor="b7e998">  <td>16/06/07 12:21:58</td>   <td>-167</td> <td>&nbsp;</td><td title="&gt;&gt;VdcOrder.isTestExecutable()[pri:0, instance:tcc.com.canopy.template.order.VdcOrder@16dccf02]">&gt;&gt;isTestExecutable</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@137959377</td>   <td></td> </tr>
</table>
