<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>VRAAvailability</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="617fc5">  <td>16/07/04 11:21:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vRAAvailability.testVRAAvailability(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:VRAAvailability.vRAAvailability@33a3668a]">testVRAAvailability</td> 
  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="617fc5">  <td>16/07/04 11:22:38</td>   <td>66376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vRAAvailability.generateReport()[pri:0, instance:VRAAvailability.vRAAvailability@33a3668a]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="617fc5">  <td>16/07/04 11:22:40</td>   <td>68281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vRAAvailability.testVRAAvailability(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:VRAAvailability.vRAAvailability@33a3668a]">testVRAAvailability</td> 
  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="617fc5">  <td>16/07/04 11:23:43</td>   <td>130914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vRAAvailability.generateReport()[pri:0, instance:VRAAvailability.vRAAvailability@33a3668a]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="617fc5">  <td>16/07/04 11:23:44</td>   <td>132531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vRAAvailability.testVRAAvailability(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:VRAAvailability.vRAAvailability@33a3668a]">testVRAAvailability</td> 
  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="617fc5">  <td>16/07/04 11:24:47</td>   <td>194893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vRAAvailability.generateReport()[pri:0, instance:VRAAvailability.vRAAvailability@33a3668a]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="617fc5">  <td>16/07/04 11:24:48</td>   <td>196440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="vRAAvailability.testVRAAvailability(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:VRAAvailability.vRAAvailability@33a3668a]">testVRAAvailability</td> 
  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="617fc5">  <td>16/07/04 11:25:50</td>   <td>258589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;vRAAvailability.generateReport()[pri:0, instance:VRAAvailability.vRAAvailability@33a3668a]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="617fc5">  <td>16/07/04 11:25:52</td>   <td>260219</td> <td title="&lt;&lt;vRAAvailability.generateBackupReport()[pri:0, instance:VRAAvailability.vRAAvailability@33a3668a]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
</table>
