<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DestroySuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e6a71">  <td>16/07/04 04:45:23</td>   <td>0</td> <td title="&gt;&gt;CIS_Template_Actions.checkSuiteSkip()[pri:0, instance:tca.com.canopy.template.action.destroyVMAction@1da477bf]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@958159964</td>   <td></td> </tr>
<tr bgcolor="9e6a71">  <td>16/07/04 04:45:24</td>   <td>1140</td> <td title="&lt;&lt;CIS_Template_Actions.generateBackupReport()[pri:0, instance:tca.com.canopy.template.action.destroyVMAction@1da477bf]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@958159964</td>   <td></td> </tr>
</table>
