<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CheckAntivirus</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7da36b">  <td>16/07/04 12:06:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VirusCheck.antivirusCheck()[pri:0, instance:AntivirusCheck.VirusCheck@6dbb2d63]">antivirusCheck</td> 
  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="7da36b">  <td>16/07/04 12:07:16</td>   <td>54979</td> <td title="&lt;&lt;VirusCheck.generateBackupReport()[pri:0, instance:AntivirusCheck.VirusCheck@6dbb2d63]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
</table>
