<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suiteverification</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cfc06b">  <td>16/02/06 15:12:12</td>   <td>0</td> <td title="&gt;&gt;CIS_Template_Verification.checkSuiteSkip()[pri:0, instance:tca.com.canopy.itemverify.itemVerification@433245d6]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@452906400</td>   <td></td> </tr>
<tr bgcolor="d0a8dc">  <td>16/02/06 15:12:13</td>   <td>440</td> <td>&nbsp;</td><td title="&lt;&lt;itemVerification.reportBackup()[pri:0, instance:tca.com.canopy.itemverify.itemVerification@433245d6]">&lt;&lt;reportBackup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@452906400</td>   <td></td> </tr>
<tr bgcolor="cfc06b">  <td>16/02/06 15:12:13</td>   <td>536</td> <td title="&lt;&lt;CIS_Template_Verification.generateBackupReport()[pri:0, instance:tca.com.canopy.itemverify.itemVerification@433245d6]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@452906400</td>   <td></td> </tr>
</table>
