<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Change</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b576b5">  <td>16/06/07 11:01:53</td>   <td>0</td> <td title="&gt;&gt;ActionBaseClass.checkSuiteSkip()[pri:0, instance:tcc.com.canopy.template.action.ChangeVDCAction@7bd6f445]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478986451</td>   <td></td> </tr>
<tr bgcolor="bff886">  <td>16/06/07 11:01:53</td>   <td>388</td> <td>&nbsp;</td><td title="&gt;&gt;ChangeVDCAction.isTestExecutable()[pri:0, instance:tcc.com.canopy.template.action.ChangeVDCAction@7bd6f445]">&gt;&gt;isTestExecutable</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478986451</td>   <td></td> </tr>
<tr bgcolor="bff886">  <td>16/06/07 11:01:53</td>   <td>521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeVDCAction.ChangeVdc1(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcc.com.canopy.template.action.ChangeVDCAction@7bd6f445]">ChangeVdc1</td> 
  <td>main@1478986451</td>   <td></td> </tr>
<tr bgcolor="bff886">  <td>16/06/07 11:04:09</td>   <td>136719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChangeVDCAction.ChangeVdc2(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tcc.com.canopy.template.action.ChangeVDCAction@7bd6f445]">ChangeVdc2</td> 
  <td>main@1478986451</td>   <td></td> </tr>
<tr bgcolor="bff886">  <td>16/06/07 11:10:23</td>   <td>510736</td> <td>&nbsp;</td><td title="&lt;&lt;ChangeVDCAction.generateExcelReport()[pri:0, instance:tcc.com.canopy.template.action.ChangeVDCAction@7bd6f445]">&lt;&lt;generateExcelReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478986451</td>   <td></td> </tr>
<tr bgcolor="b576b5">  <td>16/06/07 11:10:23</td>   <td>510923</td> <td title="&lt;&lt;ActionBaseClass.generateBackupReports()[pri:0, instance:tcc.com.canopy.template.action.ChangeVDCAction@7bd6f445]">&lt;&lt;generateBackupReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1478986451</td>   <td></td> </tr>
</table>
