<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:20:00</td>   <td>0</td> <td title="&lt;&lt;HypericCheck.generateBackupReport()[pri:0, instance:Hyperic.HypericCheck@63072ac9]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:15:41</td>   <td>-258573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HypericCheck.generateReport()[pri:0, instance:Hyperic.HypericCheck@63072ac9]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:16:36</td>   <td>-203867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HypericCheck.generateReport()[pri:0, instance:Hyperic.HypericCheck@63072ac9]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:17:40</td>   <td>-139987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HypericCheck.generateReport()[pri:0, instance:Hyperic.HypericCheck@63072ac9]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:18:42</td>   <td>-77734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HypericCheck.generateReport()[pri:0, instance:Hyperic.HypericCheck@63072ac9]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:19:58</td>   <td>-1533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HypericCheck.generateReport()[pri:0, instance:Hyperic.HypericCheck@63072ac9]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:13:09</td>   <td>-410396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HypericCheck.hyperichealth(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Hyperic.HypericCheck@63072ac9]">hyperichealth</td> 
  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:15:43</td>   <td>-256780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HypericCheck.hyperichealth(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Hyperic.HypericCheck@63072ac9]">hyperichealth</td> 
  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:16:37</td>   <td>-202319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HypericCheck.hyperichealth(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Hyperic.HypericCheck@63072ac9]">hyperichealth</td> 
  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:17:41</td>   <td>-138385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HypericCheck.hyperichealth(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Hyperic.HypericCheck@63072ac9]">hyperichealth</td> 
  <td>main@356112768</td>   <td></td> </tr>
<tr bgcolor="aaa0a0">  <td>16/07/04 11:18:43</td>   <td>-76205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HypericCheck.hyperichealth(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Hyperic.HypericCheck@63072ac9]">hyperichealth</td> 
  <td>main@356112768</td>   <td></td> </tr>
</table>
