<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SDB-SDE</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90b8b9">  <td>16/07/04 11:26:14</td>   <td>0</td> <td title="&lt;&lt;SuseSSHSDB.generateBackupReport()[pri:0, instance:DatabaseCheck.SuseSSHSDB@7529ecb1]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="c9e1cc">  <td>16/07/04 11:26:14</td>   <td>39</td> <td title="&lt;&lt;SuseSSHSDE.generateBackupReport()[pri:0, instance:DatabaseCheck.SuseSSHSDE@3b3610f1]">&lt;&lt;generateBackupReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="90b8b9">  <td>16/07/04 11:25:58</td>   <td>-15975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuseSSHSDB.generateReport()[pri:0, instance:DatabaseCheck.SuseSSHSDB@7529ecb1]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="90b8b9">  <td>16/07/04 11:26:03</td>   <td>-10689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuseSSHSDB.generateReport()[pri:0, instance:DatabaseCheck.SuseSSHSDB@7529ecb1]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="c9e1cc">  <td>16/07/04 11:26:09</td>   <td>-5305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuseSSHSDE.generateReport()[pri:0, instance:DatabaseCheck.SuseSSHSDE@3b3610f1]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="c9e1cc">  <td>16/07/04 11:26:14</td>   <td>-80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuseSSHSDE.generateReport()[pri:0, instance:DatabaseCheck.SuseSSHSDE@3b3610f1]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td>  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="90b8b9">  <td>16/07/04 11:25:52</td>   <td>-21513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuseSSHSDB.ssh(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:DatabaseCheck.SuseSSHSDB@7529ecb1]">ssh</td> 
  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="90b8b9">  <td>16/07/04 11:25:58</td>   <td>-15852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuseSSHSDB.ssh(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:DatabaseCheck.SuseSSHSDB@7529ecb1]">ssh</td> 
  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="c9e1cc">  <td>16/07/04 11:26:03</td>   <td>-10462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuseSSHSDE.ssh(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:DatabaseCheck.SuseSSHSDE@3b3610f1]">ssh</td> 
  <td>main@708658000</td>   <td></td> </tr>
<tr bgcolor="c9e1cc">  <td>16/07/04 11:26:09</td>   <td>-5217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuseSSHSDE.ssh(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:DatabaseCheck.SuseSSHSDE@3b3610f1]">ssh</td> 
  <td>main@708658000</td>   <td></td> </tr>
</table>
