<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="977c7f">  <td>16/06/01 14:22:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Red_Hat_Enterprise_Linux_7x_64_Bit.TC_014(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tca.com.canopy.template.creation.Red_Hat_Enterprise_Linux_7x_64_Bit@28e4f4ad]">TC_014</td> 
  <td>main@548990106</td>   <td></td> </tr>
<tr bgcolor="fdc382">  <td>16/06/01 14:22:58</td>   <td>-682</td> <td title="&gt;&gt;SingleTenant_CIS_Templates.checkSuiteSkip()[pri:0, instance:tca.com.canopy.template.creation.Red_Hat_Enterprise_Linux_7x_64_Bit@28e4f4ad]">&gt;&gt;checkSuiteSkip</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@548990106</td>   <td></td> </tr>
<tr bgcolor="fdc382">  <td>16/06/01 14:23:24</td>   <td>25240</td> <td title="&lt;&lt;SingleTenant_CIS_Templates.generateBackupReports()[pri:0, instance:tca.com.canopy.template.creation.Red_Hat_Enterprise_Linux_7x_64_Bit@28e4f4ad]">&lt;&lt;generateBackupReports</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@548990106</td>   <td></td> </tr>
<tr bgcolor="977c7f">  <td>16/06/01 14:23:22</td>   <td>23283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Red_Hat_Enterprise_Linux_7x_64_Bit.generateExcelReport()[pri:0, instance:tca.com.canopy.template.creation.Red_Hat_Enterprise_Linux_7x_64_Bit@28e4f4ad]">&lt;&lt;generateExcelReport</td> 
<td>&nbsp;</td>  <td>main@548990106</td>   <td></td> </tr>
<tr bgcolor="977c7f">  <td>16/06/01 14:22:58</td>   <td>-188</td> <td>&nbsp;</td><td title="&gt;&gt;Red_Hat_Enterprise_Linux_7x_64_Bit.isTestExecutable()[pri:0, instance:tca.com.canopy.template.creation.Red_Hat_Enterprise_Linux_7x_64_Bit@28e4f4ad]">&gt;&gt;isTestExecutable</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@548990106</td>   <td></td> </tr>
</table>
